<!DOCTYPE html>
<html>
<head th:replace="ADMIN/header :: header" />
<body>
	<div th:replace="ADMIN/header :: navbar" />
	<br/>
	
	<div class="container">
		<a th:href="@{/register}"><button type="button" class="btn btn-info">Add User</button></a>
		<a th:href="@{/exportfile/userexcel}">
			<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Ghi ra file</button>
		</a>
		<p th:text="${fileStatus}"></p>
		<br/>
		<table class="table table-border" th>
			<thead>
				<tr>
					<th>UserName </th>
					<th>Password</th>
					<th>Roles</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUser}">
					<td th:text="${user.getUsername()}">UserName</td>
					<td th:text="${user.getPassword()}">Password</td>
					<td>
						<th:block th:each="role,i : ${user.getRoles()}">
							<th:block th:if="${i.index}==${user.roles.size()}-1">
								<span th:text="|${role.getName()}|">Role</span>
							</th:block>
							<th:block th:if="${i.index}<${user.roles.size()}-1">
								<span th:text="|${role.getName()},|">Role</span>
							</th:block>
						</th:block>
					</td>
					<td th:text="${user.getAddress()}">Address</td>
					<td th:text="${user.getPhone()}">Phone</td>
					<td >
						<a th:href="@{|/admin/users/delete/${user.getId()}|}"><button type="button" class="btn btn-info">Xóa</button></a>
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<div class="container mt-3">
		  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Đọc từ file</button>
		  <div id="demo" class="collapse">
		  		<br/>
				<table class="table table-border" th>
					<thead>
						<tr>
							<th>UserName </th>
							<th>Password</th>
							<th>Roles</th>
							<th>Address</th>
							<th>Phone</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${listUser}">
							<td th:text="${user.getUsername()}">UserName</td>
							<td th:text="${user.getPassword()}">Password</td>
							<td>
								<th:block th:each="role,i : ${user.getRoles()}">
									<th:block th:if="${i.index}==${user.roles.size()}-1">
										<span th:text="|${role.getName()}|">Role</span>
									</th:block>
									<th:block th:if="${i.index}<${user.roles.size()}-1">
										<span th:text="|${role.getName()},|">Role</span>
									</th:block>
								</th:block>
							</td>
							<td th:text="${user.getAddress()}">Address</td>
							<td th:text="${user.getPhone()}">Phone</td>
							<td >
								<a th:href="@{|/admin/users/delete/${user.getId()}|}"><button type="button" class="btn btn-info">Xóa</button></a>
							</td>
						</tr>
					</tbody>
				</table>
		  </div>
		</div>
	</div>
</body>
</html>