<!DOCTYPE html>
<html>
<head th:replace="ADMIN/header :: header" />
<body>
	<div th:replace="ADMIN/header :: navbar" />
	<br/>

	<div class="container">
		<a th:href="@{/admin/product/insertForm}"><button type="button" class="btn btn-info">Add Product</button></a>
		<br/>
		<table class="table table-striped" style="text-align:auto;">
			<thead>
				<tr>
					<th>Name Product </th>
					<th>Image</th>
					<th>Price</th>
					<th>Count</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProduct}">
					<td th:text="${product.getName()}">Name Product</td>
					<td ><img th:src="@{'data:image/jpeg;base64,'+${product.getImgBase64()}}" style="width:100px;height:100px; border:black solid 1px;" alt=""/></td>
					<td th:text="${product.getPrice()}">Price</td>
					<td th:text="${product.getCount()}">Count</td>
					<td >
						<a th:href="@{|/admin/product/update/${product.getId()}|}"><button type="button" class="btn btn-info">Sửa</button></a>
						&nbsp; &nbsp;
						<a th:href="@{|/admin/product/delete/${product.getId()}|}"><button type="button" class="btn btn-info">Xóa</button></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>