<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->
<head th:replace="SHOP/header :: header1" ></head>
<body>
	<div th:replace="SHOP/header :: header2" />
	<!-- Start Side Menu -->
	<div class="side">
		<a href="#" class="close-side"><i class="fa fa-times"></i></a>
		<li class="cart-box">
			<ul class="cart-list">
				<li><a href="#" class="photo"><img
						src="./images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
					<h6>
						<a href="#">Delica omtantur </a>
					</h6>
					<p>
						1x - <span class="price">$80.00</span>
					</p></li>
				<li><a href="#" class="photo"><img
						src="./images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
					<h6>
						<a href="#">Omnes ocurreret</a>
					</h6>
					<p>
						1x - <span class="price">$60.00</span>
					</p></li>
				<li><a href="#" class="photo"><img
						src="./images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
					<h6>
						<a href="#">Agam facilisis</a>
					</h6>
					<p>
						1x - <span class="price">$40.00</span>
					</p></li>
				<li class="total"><a href="#"
					class="btn btn-default hvr-hover btn-cart">VIEW CART</a> <span
					class="float-right"><strong>Total</strong>: $180.00</span></li>
			</ul>
		</li>
	</div>
	<!-- End Side Menu -->
	<!-- Start Shop Page  -->
	<div class="shop-box-inner">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
					<div class="product-categori">
						<div class="search-product">
							<form th:action="@{/shop/search}" method="post">
								<input class="form-control" name="search"
									placeholder="Search here..." type="text">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>

				<div
					class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">

					<form action="#" method="get">
						<div class="row product-categorie-box">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade show active"
									id="grid-view">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4"
											th:each="product : ${listProduct}">
											<div class="products-single fix">
												<div class="box-img-hover">
													<div class="type-lb">
														<p class="sale">Sale</p>
													</div>
													<img th:src="@{'data:image/jpeg;base64,'+${product.getImgBase64()} }" style="width:200px; height:200px;" class="img-fluid" alt="Image">
													<div class="mask-icon">
														<ul>
															<li><a href="#" data-toggle="tooltip"
																data-placement="right" title="View"><i
																	class="fas fa-eye"></i></a></li>
															<li><a href="#" data-toggle="tooltip"
																data-placement="right" title="Compare"><i
																	class="fas fa-sync-alt"></i></a></li>
															<li><a th:href="@{'/shop/addcart/'+${product.id}}"
																data-toggle="tooltip" data-placement="right"
																title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
														</ul>
														<a class="cart" th:href="@{'/shop/addcart/'+${product.id}}">Add
															to Cart</a> <a class="cart"
															th:href="@{'/shop/addcart/'+${product.id}}">Add to Cart</a>
													</div>
												</div>
												<div class="why-text">
													<h5 style="font-size: 20; color: red;">
														name <span th:text="${product.name}"></span>
													</h5>
													<h4 style="font-size: 20; color: red;">
														count <span th:text="${product.count}"></span>
													</h4>
													<h4 style="font-size: 20; color: red;">
														price <span th:text="${product.price}"></span>
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</form>

					<div style="text-align: center" class="m-4">
						<a class="paging2" style="font-size: 25px;"	th:href="@{'/shop/page/1'+ '?sortDir=asc' }"> &laquo; </a> 
						<a class="paging2" style="font-size: 25px;" th:if="${currentPage}>1"
						th:href="@{'/shop/page/' + ${currentPage - 1}+'?sortDir=asc'}">&lsaquo;</a>

						<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
							class="paging1" th:if="${currentPage}!=${i}"
							th:href="@{'/shop/page/' + ${i} + '?sortDir=asc'}">[[${i}]]</a> <span
							class="paging1" th:if="${currentPage}==${i}">[[${i}]]</span>
							&nbsp;
						</span> <a class="paging2" style="font-size: 25px;"
							th:if="${currentPage}<${totalPages}" )
							th:href="@{'/shop/page/' + ${currentPage + 1} + '?sortDir=asc'}">&rsaquo;</a>
						<a class="paging2" style="font-size: 25px;"
							th:href="@{'/shop/page/' + ${totalPages} + '?sortDir=asc'}">&raquo;</a>
            		</div>     
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
 <div th:replace="SHOP/footer :: footer" />
</body>
</html>